<main>
    <div class="card-container">
        <div class="illustration-card">
            oie
        </div>
        <div class="card">
            <h2>Create an account and organize!</h2>
            <form>
                <input type="email" placeholder="Email" id="email" name="email" /><br>
                <input type="password" placeholder="Create a password" id="password" name="password" /><br>
            </form>
            <button type="submit" (click)="registerUser()">Create account</button>
            <p>Already have an account? <a (click)="goToLogin()">Log-in</a></p>
        </div>
    </div>
</main>
